[Unit]
Description=Jupiter Controller Firmware Update Service
Before=display-manager.service
After=plymouth-quit.service plymouth-deactivate.service

[Service]
Type=oneshot
ExecStart=/usr/lib/hwsupport/jupiter-controller-update-with-splash

# Fail if we cannot update within 160 seconds.
TimeoutStartSec=160
TimeoutStopSec=10
Restart=no

[Install]
WantedBy=multi-user.target
