<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>Valve SteamOS</vendor>
  <vendor_url>http://www.steampowered.com</vendor_url>

  <action id="org.valve.policykit.steamos.pkexec.run-p-steamos-format-sdcard">
    <description>Run the steamos sdcard helper</description>
    <icon_name>package-x-generic</icon_name> 
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/p-steamos-format-sdcard</annotate>
  </action>

  <action id="org.valve.policykit.steamos.pkexec.run-p-steamos-reboot-other">
    <description>Run the steamos reboot helper</description>
    <icon_name>package-x-generic</icon_name> 
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/p-steamos-reboot-other</annotate>
  </action>

  <action id="org.valve.policykit.steamos.pkexec.run-p-steamos-update">
    <description>Run the steamos update helper</description>
    <icon_name>package-x-generic</icon_name> 
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/p-steamos-update</annotate>
  </action>

  <action id="org.valve.policykit.steamos.pkexec.run-p-jupiter-biosupdate">
    <description>Run the jupiter bios update helper</description>
    <icon_name>package-x-generic</icon_name> 
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/p-jupiter-biosupdate</annotate>
  </action>

  <action id="org.valve.policykit.steamos.pkexec.run-p-steamos-factory-reset-config">
    <description>Run the steamos factory reset helper</description>
    <icon_name>package-x-generic</icon_name> 
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/p-steamos-factory-reset-config</annotate>
  </action>

  <action id="org.valve.policykit.steamos.pkexec.run-p-jupiter-get-als-gain">
    <description>Get the jupiter ALS gain calibration data from bios</description>
    <icon_name>package-x-generic</icon_name> 
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/p-jupiter-get-als-gain</annotate>
  </action>

  <action id="org.valve.policykit.steamos.pkexec.run-p-steamos-set-hostname">
    <description>Set the hostname</description>
    <icon_name>package-x-generic</icon_name> 
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/p-steamos-set-hostname</annotate>
  </action>

  <action id="org.valve.policykit.steamos.pkexec.run-p-steamos-set-timezone">
    <description>Set the timezone</description>
    <icon_name>package-x-generic</icon_name> 
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/p-steamos-set-timezone</annotate>
  </action>

  <action id="org.valve.policykit.steamos.pkexec.run-p-steamos-priv-write">
    <description>Helper to write to a set of device nodes</description>
    <icon_name>package-x-generic</icon_name> 
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/p-steamos-priv-write</annotate>
  </action>

</policyconfig>

